</head>
<!-- Head End -->
<body class="bg">
    <!-- TOP -->
    <div class="header">
        <div class="top">
            <p class="top-title">留言板</p>
            <div class="con">
                {if $nick}
                <div class="person">
                    <p class="nickname">{$nick}</p>
                    <ul>
                        <li>
                            <a href="{:url('Personal/index')}">个人中心</a>
                        </li>
                        <li class="write">
                            <a href="{:url('Article/index')}">写留言</a>
                        </li>
                        <li class="login-out">
                            <a href="" id="logout">退出</a>
                        </li>
                    </ul>
                </div>
                {else /}
                <a href="{:url('Login/login')}" class="top-btn login">登录</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="{:url('Register/index')}" class="top-btn register">注册</a>
                {/if}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Body -->
    <div class="main">