{include file="public/header" title="留言板"}
<link rel="stylesheet" href="__CSS__/index.css">
<script>
    var back = "{:url('Main/index')}";
</script>
{include file="public/mainHead"}
            <button type="button" class="show-back" id="showBack">返回</button>
            <div class="show-block"></div>
            <div class="show-content">
                <input type="hidden" value="{$article.id}" name="id">
                <div class="show-title">
                    <p>{$article.title}</p>
                </div>
                <div class="show-main">
                    <p>{$article.content}</p>
                </div>
                <div class="show-time">
                    <p>创建于：{$article.create_time}</p>
                </div>
                <div class="show-author">
                    <p>{$article.author}</p>
                </div>
                {if $nick==$article.author || $name=="SuperAdmin"}
                <div class="show-edit">
                    <span>&nbsp;|&nbsp;</span>
                    <a href="#" class="del">删除</a>
                </div>
                {/if}
            </div>
        </div>

<script src="__JS__/main.js"></script>
{include file="public/footer"}