{include file="public/header" title="留言板"}
<link rel="stylesheet" href="__CSS__/index.css">
<script>
    var back = "{:url('Main/index')}";
</script>
</head>
<!-- Head End -->
<body class="bg">
        <!-- TOP -->
        <div class="header">
            <div class="top">
                <p class="top-title">留言板</p>
                <div class="con">
                    {if $nick}
                    <div class="person">
                        <p class="nickname">{$nick}</p>
                        <ul>
                            <li>
                                <a href="">个人中心</a>
                            </li>
                            <li class="write">
                                <a href="{:url('Article/index')}">写留言</a>
                            </li>
                            <li class="login-out">
                                <a href="" id="logout">退出</a>
                            </li>
                        </ul>
                    </div>
                    {else /}
                    <a href="{:url('Login/login')}" class="top-btn login">登录</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a href="{:url('Register/index')}" class="top-btn register">注册</a>
                    {/if}
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Body -->
        <div class="main">
            <button type="button" class="show-back" id="showBack">返回</button>
            <div class="show-block"></div>
            <div class="show-content">
                <input type="hidden" value="{$article.id}" name="id">
                <div class="show-title">
                    <p>{$article.title}</p>
                </div>
                <div class="show-main">
                    <p>{$article.content}</p>
                </div>
                <div class="show-time">
                    <p>创建于：{$article.create_time}</p>
                </div>
                <div class="show-author">
                    <p>{$article.author}</p>
                </div>
                {if $nick==$article.author || $name=="SuperAdmin"}
                <div class="show-edit">
                    <span>&nbsp;|&nbsp;</span>
                    <a href="#" class="del">删除</a>
                </div>
                {/if}
            </div>
        </div>

<script src="__JS__/main.js"></script>
{include file="public/footer"}