{include file="public/header" title="留言板"}

<link rel="stylesheet" href="__CSS__/index.css">
<script>
    var out = "{:url('Main/index')}"
    var browse = "{:url('Main/browse')}";
</script>
{include file="public/mainHead"}
        <input type="hidden" value="{$nick}" id="name">
        {volist name="list" id="vo"}
        <div class="content content-btn"  data-id="{$vo.id}" data-name="{$vo.author}">
            <div class="content-left">
                <h3>{$vo.author}</h3>
            </div>
            <div class="content-right">
                <div class="content-title">
                    <h3>Title：</h3>
                    <p>{$vo.title}</p>
                </div>
                <div class="main-content">
                    <div>{$vo.content}</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        {/volist}
        <div class="pager">
            {$page}
        </div>
    </div>
    {if $nick}
    <div class="tools" id="tool-btn">
        <a href="{:url('Article/index')}" style="color:black;">
            <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
        </a>    
    </div>
    {else /}
    <div class="tools no-name" id="not-btn">
        <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
    </div>
    {/if}

<script src="__JS__/main.js"></script>
{include file="public/footer"}